In [1]:
a = "3"
b = "4"
print(a + b)

34

In [2]:
print("Hi"*3)

HiHiHi

In [3]:
print("-"*80)

--------------------------------------------------------------------------------

In [8]:
t1 = 'python'
t2 = 'java'
print((t1+" "+t2 + " ")*4)

python java python java python java python java

In [10]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d"%(name1,age1))
print("이름: %s 나이: %d"%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [14]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [15]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [17]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [19]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [21]:
data = "       삼성전자       "
print(data.strip())

삼성전자