In [3]:
def print_reverse(a):
    print(a[::-1])

In [4]:
print_reverse("python")

nohtyp

In [7]:
def print_score(a):
    print(sum(a) / len(a))

In [8]:
print_score([1,2,3])

2.0

In [9]:
def print_event(a):
    for i in a:
        if i % 2 == 0:
            print(i)

In [10]:
print_event([1,3,2,10,12,11,15])

2
10
12

In [16]:
def print_keys(a):
    for i in a.keys():
        print(i)

In [17]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [18]:
def print_value_by_key(a, b):
    print(a[b])

In [19]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [20]:
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [33]:
def print_5xn(a):
    b = int(len(a) / 5)
    for i in range(b + 1):
        print(a[i*5:i*5+5])

In [34]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [39]:
def printmxn(a, c):
    b = int(len(a) / c)
    for i in range(b + 1):
        print(a[i*c:i*c+c])

In [40]:
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [43]:
def calc_monthly_salary(a):
    print(int(a/12))

In [44]:
calc_monthly_salary(12000000)

1000000

In [45]:
def my_print(a,b):
    print("왼쪽: ", a)
    print("오른쩍: ", b)

my_print(a=100, b=200)

왼쪽:  100
오른쩍:  200

In [46]:
def my_print(a,b):
    print("왼쪽: ", a)
    print("오른쩍: ", b)

my_print(b=100, a=200)

왼쪽:  200
오른쩍:  100

In [48]:
def n_plus_1(n):
    result = n + 1
    
n_plus_1(3)
print(result)

NameError: name 'result' is not defined

In [59]:
def make_url(a):
    return "www." + a +".com"

In [60]:
make_url("naver")

'www.naver.com'

In [75]:
def make_list(a):
    return list(a)

In [76]:
make_list("abcd")

['a', 'b', 'c', 'd']

In [85]:
def prick_up_even(a):
    b = []
    for i in a:
        if i % 2 == 0:
            b.append(i)
    return b

In [86]:
prick_up_even([3,4,5,6,7,8])

[4, 6, 8]

In [92]:
def convert_int(a):
    return int(a.replace(",", ""))

In [93]:
convert_int("1,234,567")

1234567

In [94]:
def 함수(num):
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [95]:
def 함수(num):
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [100]:
def 함수1(num):
    return num + 4

def 함수2(num):
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [102]:
def 함수1(num):
    return num + 4

def 함수2(num):
    num = num+2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [103]:
def 함수0(num):
    return num * 2

def 함수1(num):
    return 함수0(num + 2)

def 함수2(num):
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28