In [3]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [5]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [12]:
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [18]:
for i in range(0, 10):
    print(i /10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [20]:
for i in range(1, 10):
    print("3 X 1 = ", i * 3)

3 X 1 =  3
3 X 1 =  6
3 X 1 =  9
3 X 1 =  12
3 X 1 =  15
3 X 1 =  18
3 X 1 =  21
3 X 1 =  24
3 X 1 =  27

In [21]:
for i in range(1, 10, 2):
    print("3 X 1 = ", i * 3)

3 X 1 =  3
3 X 1 =  9
3 X 1 =  15
3 X 1 =  21
3 X 1 =  27

In [27]:
k = 0
for i in range(1, 11):
    k+= i
print("합 : ",k)

합 :  55

In [28]:
k = 0
for i in range(1, 11, 2):
    k+= i
print("합 : ",k)

합 :  25

In [31]:
k = 1
for i in range(1, 11):
    k*= i
print("곱 : ",k)

곱 :  3628800