In [9]:
age = 24
name = 'hong'

print(f' my name is hong age=20')

 my name is hong age=20

In [5]:
print(f' my name is {name} age={age}')

 my name is hong age=24

In [6]:
print(f' my name is {name} age={age+1}')

 my name is hong age=25

In [7]:
print(f' my name is {name} age={age} {name}')

 my name is hong age=24 hong

In [13]:
a= 'hobby'
a.count('b')

2

In [16]:
a = input()
a

i am apple

'i am apple'

In [26]:
a = 'Life is too short'
b = a.split()

In [30]:
print(b)

['Life', 'is', 'too', 'short']

In [31]:
print(type(b))

<class 'list'>

In [42]:
c = b[0],b[1],b[2],b[3]
print(type(c))

<class 'tuple'>

In [44]:
a = 'Li,fe is, to,o sh,ort'
b = a.split(',')

In [80]:
a = [1,2,'abc', [3,4,'list']]

In [82]:
a[3][2]

'list'

In [83]:
a[2]

'abc'

In [84]:
a='python'

In [85]:
print(a*2)

pythonpython

In [105]:
li = 'Life is too short'
li = li.split(" ")

In [88]:
print(li*2)

['Life', 'is', 'too', 'short', 'Life', 'is', 'too', 'short']

In [89]:
print(a)

python

In [90]:
a[1]

'y'

In [91]:
a[1] = 'i'

TypeError: 'str' object does not support item assignment

In [95]:
li[2] = "tooo"
li[2]

'tooo'

In [101]:
del li[2]
li

['Life', 'is', 'short']

In [107]:
li.remove('Life')
li

['is', 'too', 'short']

In [119]:
a=['a','b','c']

In [ ]:
a.append('d')
a

In [122]:
a.append('e','f')
a

TypeError: append() takes exactly one argument (2 given)

In [123]:
a.append(['e','f'])
a

['a', 'b', 'c', 'd', 'e', ['e', 'f']]

In [121]:
a.extend('e')
a

['a', 'b', 'c', 'd', 'e']

In [124]:
a.extend(['g','h'])
a

['a', 'b', 'c', 'd', 'e', ['e', 'f'], 'g', 'h']

In [158]:
a = [1,2,3,2,4,5]

In [153]:
a.index(2)

1

In [159]:
a.insert(2,10)
a

[1, 2, 10, 3, 2, 4, 5]

In [160]:
a.pop()
a

[1, 2, 10, 3, 2, 4]

In [161]:
a.pop(3)
a

[1, 2, 10, 2, 4]

In [165]:
a.count(2)

2

In [172]:
tu1 = 1
tu2 = (1,) # 하나면 type이 int

In [173]:
type(tu1)

int

In [174]:
type(tu2)

tuple

In [176]:
a = (1,2,3)

In [177]:
a[1]

2

In [181]:
dic = {'a':123, 1: 'school', (2,3):'python'}

In [182]:
dic

{'a': 123, 1: 'school', (2, 3): 'python'}

In [188]:
dic[123]='value'
dic

{'a': 123, 1: 'school', (2, 3): 'python', 123: 'value'}

In [189]:
del dic[123]
dic

{'a': 123, 1: 'school', (2, 3): 'python'}

In [190]:
dic.keys()

dict_keys(['a', 1, (2, 3)])

In [193]:
dic.values()

dict_values([123, 'school', 'python'])

In [194]:
dic.items()

dict_items([('a', 123), (1, 'school'), ((2, 3), 'python')])

In [199]:
0 in dic

False

In [200]:
1 in dic

True

In [208]:
dic.get('a')

123

In [209]:
dic.get(0,'not key')

'not key'

In [231]:
bool()

True

In [248]:
a=1
b=a
c=[1,2,3]
d=a+1

In [244]:
print(a)

1

In [245]:
a='python'
print(a)

python

In [249]:
id(a)

140714933757744

In [250]:
id(b)

140714933757744

In [255]:
print(id(c[1]))

140714933757776

In [256]:
a is b

True

In [257]:
print('a')
print('b')

a
b

In [258]:
print('a','b')
print('b')

a b
b

In [260]:
age = 10
print(age, 'b')
print('b')

10 b
b

In [267]:
print('a','b','c','d')

a b c d

In [269]:
print('a','b','c','d', sep = ',')

a,b,c,d

In [272]:
print('a','b','c','d', end = ' ')
print('a','b','c','d')

a b c d a b c d

In [273]:
print('a','b','c','d')
print('a','b','c','d')

a b c d
a b c d

In [278]:
print('실수:{0} 정수:{1}'.format(3.14, 20))
print('실수:{1} 정수:{0}'.format(3.14, 20))

실수:3.14 정수:20
실수:20 정수:3.14

In [282]:
"""
이것은 주석입니다

"""
print("hello world!")

hello world!

In [289]:
a = ['paper', 'coin', 'phone']

In [290]:
'paper' in a

True

In [302]:
ob = input('찾는 물건은:')

if ob in a:
    print('찾는 물건 있어요!')
    print('들여쓰기')

else:
    print('찾는 물건 없어요')

찾는 물건은:coin
찾는 물건 있어요!
들여쓰기

In [308]:
score = input('점수:')

if int(score) >= 90:
    print('A')
elif int(score) >= 80:
    print('B')
elif int(score) >= 70:
    print('C')
else:
    print('F')

점수:20
F

In [309]:
i=1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [310]:
i = 1
while i < 100:
    if(i%3==0):
        print(i)
    i = i+1

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [314]:
a = input('문자 입력:')
while True:
    if a == 'q':
        print('종료')
        break
    print('입력한 문자:', a)

문자 입력:q
종료

In [318]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [321]:
range(1,10, 2)

range(1, 10, 3)

In [322]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60: continue
    print("%d학번 학생 축하합니다. 합격입니다."%number)

1학번 학생 축하합니다. 합격입니다.
3학번 학생 축하합니다. 합격입니다.
5학번 학생 축하합니다. 합격입니다.

In [323]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [325]:
add = 0
for i in range(1, 11):
    add = add + i
print(add)

55

In [329]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end = " ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [337]:
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

sum = 0

for i in a:
    sum += i
    average = sum / len(a)
print(average)

79.0

In [363]:
a, b = map(int, input('두 정수입력:').split())
c = a + b
print(c)

두 정수입력:2 3
5

In [370]:
def add(a, b):
    c = a + b
    return c

In [371]:
d = add(10, 20)
print(d)

30

In [402]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

result = add_many(1,2,3)
print(result)

6

In [426]:
def myself(age, name, sex=True):
    print('나이:', age)
    print('이름:', name)
    if sex:
        print('남자')
    else:
        print('여자')

In [427]:

myself(23, '조정원')

나이: 23
이름: 조정원
남자

In [428]:

myself(23, '조정원', False)

나이: 23
이름: 조정원
여자

In [450]:
a = 1
def var_test():
    global a 
    a += 1
    
var_test()
print(a)

2

In [447]:
a = 1
def vartest ():
    global a
    a = a+1
vartest()
print(a)

2

In [465]:
f = open('0629.txt', 'w')
f.write('1')
f.write('\n')
f.write('2')

f.close()

In [466]:
f = open('0629.txt', 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n"% i
    f.write(data)
f.close()

In [468]:
f = open('0629.txt', 'r')
a = f.readline()
print(a)
a = f.readline()
print(a)
f.close()

1번째 줄입니다.

2번째 줄입니다.

In [469]:
f = open('0629.txt', 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [470]:
f = open('0629.txt', 'r')
a = f.readlines()
print(a)
f.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [471]:
print(a[0])

1번째 줄입니다.

In [473]:
f = open('0629.txt', 'r')
a = f.read()
print(a)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [474]:
type(a)

str

In [475]:
a[41:50]

'번째 줄입니다.\n'

In [36]:
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

f = open('score.txt', 'w')
b = ", ".join([str(i) for i in a])
f.writelines(b)
f.close()

In [58]:
f = open('score.txt', 'r')
a = f.readlines()
b = a[0].split(',')
c = [int (i) for i in b]

sum = 0

for i in c:
    sum += i
    average = sum / len(c)
print(average)
f.close()

79.0

In [33]:
class Student:
    name = '홍길동'
    def __init__(self):
        print("이해하셨나요?")    
    def info(self):
        print("제 이름은 " + self.name + " 입니다.")

In [34]:
a = Student()
print(a.name)

이해하셨나요?
홍길동

In [35]:
print(a.info())

제 이름은 홍길동 입니다.
None

In [516]:
f = open('score.txt', 'r')
a = f.readlines()
print(a)
f.close()

['706055759590808085100']

TypeError: 'str' object is not callable

In [ ]:
13
24
35

24
810

빌려줄수 있는 사람
lost와 reserve가 같지 않음 and lost+-1범위에 reserve가 존재

n - lost + 빌린사람



n - len(lost) + c

In [ ]:
n = 10
lost = [2,3,4]
reserve = [3,9]

In [ ]:
def solution(n, lost, reserve):
    answer = 0
    
    
    
    
    return answer

In [ ]:
n = 5
lost = [2,4]
reserve = [1,3,5]

# 프로그래머스 가운데 글자 가져오기

In [429]:
# 내 풀이
def solution(s):
    if len(s) % 2 == 0:
        re = s[int(len(s)/2)-1:int(len(s)/2)+1]
    elif len(s) % 2 == 1:
        re = s[int((len(s)-1)/2)]
    return re

In [455]:
# 정답
# 문제가 개편되었습니다. 이로 인해 함수 구성이나 테스트케이스가 변경되어, 과거의 코드는 동작하지 않을 수 있습니다.
# 새로운 함수 구성을 적용하려면 [코드 초기화] 버튼을 누르세요. 단, [코드 초기화] 버튼을 누르면 작성 중인 코드는 사라집니다.
def string_middle(str):
    # 함수를 완성하세요

    return str[(len(str)-1)//2:len(str)//2+1]

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(string_middle("power"))

w

In [430]:
str = 'qwer'

solution(str)

'we'

In [454]:
str = 'abcde'

solution(str)

'c'

# 프로그래머스 음양 더하기

In [298]:
# 정답
def solution(absolutes, signs):
    answer = 0
    
    for i in range(len(absolutes)):
        if signs[i] == True:
            answer += absolutes[i]
        elif signs[i] == False:
            answer -= absolutes[i]

    return answer

In [300]:
abs = [4,7,12]
sig = [True,False,True]

solution(abs, sig)

9