In [7]:
# #n은 pritn 내에서만 동작
print('py\nthon')
'py\nthon'

py
thon

'py\nthon'

In [31]:
a = [1,2]
b = (1,2,3)
c = {1:2, 3:4}
d = set(a)
e = '12345'
f = 123456
g = 123456.7

# int나 float 자료형은 len함수 'X'

for i in [a,b,c,d,e,f,g]:
    print(len(i))

2
3
2
2
5

TypeError: object of type 'int' has no len()

In [37]:
# 딕셔너리 자로형은 인덱싱 'X' key나 value로 접근
# 집합 자료형도 인덱싱 'X'
# 문자열은 인덱싱 'O', int나 float은 'X'

In [43]:
name = 'j'
age = 10

print('name is {} age is {}'.format(name, age))

name is j age is 10

In [44]:
print(f'name is {name} age is {age}')

name is j age is 10

In [55]:
str = 'python'

# find와 index 함수는 입력 문자의 인덱스를 반환 
# but find는 존재하지 않는 문자 입력시 -1을 반환 index는 에러
str.find('1')
str.index('1')

ValueError: substring not found

In [60]:
# split은 문자열만 가능
str1 = 'python'
str2 = 12345
str3 = [1,2,3,4,5]

In [57]:
str1.split(',')

['python']

In [58]:
str2.split(',')

AttributeError: 'int' object has no attribute 'split'

In [80]:
str3.split(',')

AttributeError: 'list' object has no attribute 'split'

In [69]:
input('입력하세요: ').split(',')

입력하세요: alf, sdfkln

['alf', ' sdfkln']

In [74]:
name, address, age = input('이름과 주소와 나이 입력: ').split(' ')

이름과 주소와 나이 입력: 정원 서울 23

In [77]:
nama, address, age = map(int, input('이름과 주소와 나이 입력: ').split(' '))

이름과 주소와 나이 입력: 10 20 30

In [78]:
a = 'ppython'
a.count('p')

2

In [89]:
# 하나씩 지정, 튜플로 저장
c, b, d = a[0],a[1],a[2]
print(d)

c = a[0],a[1],a[2]
print(d)

y
y

In [119]:
# 문자열.split('')은 ''로 구분하여 리스트에 저장 
li = 'p y t h o n'
li = li.split(" ")
li

['p', 'y', 't', 'h', 'o', 'n']

In [120]:
# 리스트[] = 리스트 인덱스의 값 변경, 문자열은 'X'
li[1] = 'yyy'
li

['p', 'yyy', 't', 'h', 'o', 'n']

In [121]:
li.remove('p')
li

['yyy', 't', 'h', 'o', 'n']

In [122]:
li.append('python')
li

['yyy', 't', 'h', 'o', 'n', 'python']

In [123]:
# append()는 한 개의 값만 입력
li.append('python', 2)

TypeError: append() takes exactly one argument (2 given)

In [124]:
# append는 리스트 추가 가능
# extend는 문자열로 바꿔서 추가

li.extend(['g', 'h'])
li

['yyy', 't', 'h', 'o', 'n', 'python', 'g', 'h']

In [136]:
a = [1,2]
a.insert(4,10)
a

[1, 2, 10]

In [138]:
b = [1,2,3,4,5]
b.pop()
b

[1, 2, 3, 4]

In [139]:
b.pop(0)
b

[2, 3, 4]

In [144]:
dic = {'a':123, 1: 'school', (2,3) : ['python']}
dic

{'a': 123, 1: 'school', (2, 3): ['python']}

In [145]:
# 딕셔너리 추가
dic[4] = 'hello'
dic

{'a': 123, 1: 'school', (2, 3): ['python'], 4: 'hello'}

In [146]:
dic.keys()

dict_keys(['a', 1, (2, 3), 4])

In [147]:
dic.values()

dict_values([123, 'school', ['python'], 'hello'])

In [148]:
dic.items()

dict_items([('a', 123), (1, 'school'), ((2, 3), ['python']), (4, 'hello')])

In [152]:
# key가 존재하는 지
4 in dic

True

In [158]:
# key값에 맞는 value 반환
dic.get(4)

'hello'

In [164]:
# key값이 없으면 'not key' 반환
dic.get(5, 'not key')

'not key'

In [168]:
i = 0
while True:
    print(i)
    i = i+3
    if i >10:
        break

0
3
6
9

In [176]:
for i in range(2,10):
    for j in range(1,10):
        print(i * j, end = ' ')
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [178]:
def add_many(*arg):
    print(arg)

In [181]:
add_many('py',12)

('py', 12)

In [192]:
a = 2

def c():
    global a
    print(a)

c()

2

In [198]:
a = 'python'
a[2:3]

't'

2