In [1]:
f = open("C:/Users/tkrhk/Desktop/매수종목1.txt", mode = 'wt', encoding = 'utf-8')
f.write("005930\n")
f.write("005380\n")
f.write("035420\n")
f.close()

In [2]:
f = open("C:/Users/tkrhk/Desktop/매수종목2.txt", mode = 'wt', encoding = 'utf-8')
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [4]:
import csv

f = open("C:/Users/tkrhk/Desktop/매수종목.csv", mode = "wt", encoding = "cp949", newline = '')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", "15.59"])
writer.writerow(["NAVER", "035420", "55.82"])
f.close()

In [7]:
f = open("C:/Users/tkrhk/Desktop/매수종목2.txt", encoding = 'utf-8')
lines = f.readlines()

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)
    
print(codes)

f.close()

['005930 삼성전자\n', '005380 현대차\n', '035420 NAVER\n']
['005930 삼성전자', '005380 현대차', '035420 NAVER']

In [15]:
f = open("C:/Users/tkrhk/Desktop/매수종목2.txt", encoding = 'utf-8')
lines = f.readlines()

data = {}

for line in lines:
    line = line.strip()
    k, v = line.split()
    data[k] = v
    
print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [23]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [25]:
per = ["10.31", "", "8.00"]

list = []
for i in per:
    try:
        list.append(float(i))
    except:
        list.append(0)
list

[10.31, 0, 8.0]

In [28]:
try:
    b = 10 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되어요")

0으로 나누면 안되어요

In [30]:
data = [1,2,3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [33]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환완료")

10.31
clean data
변환완료
0
변환완료
8.0
clean data
변환완료